body
{
	background-color: #039dfc;
}
label, .tablinks
{
	font-weight: 1000;
}
label, #loginHeader, #loginSubmit, .tablinks
{
	text-align: center;
	font-family: helvetica, 'lucida console', verdana;
}
.tabcontent 
{
	display: none;
	margin: auto;
	width: 30%;
	text-align: center;
	border: 5px solid green;
	border-top: #03fc6f;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	background-color: #03fc6f;
}
.textbox
{
	width: 80%;
	padding: 8px;
	text-align: left;
	box-shadow: 3px 3px 3px green;
	border-width: 2px;
	border-radius: 4px;
}
.submit
{
	font-weight: 700;
	border-radius: 3px;
	background-color: #ccc8be;
}
.tab 
{
	overflow: hidden;
	width: 30%;
	border: 5px solid green;
	background-color: #03fc6f;
}
.tab button
{
	width: 50%;
	border: none;
	float: left;
	border-radius: 0px;
	background-color: #03fc6f;
	padding-top: 20px;
	padding-bottom: 20px;
	outline: none;
}
.tab button:hover
{
	background-color: #26c421;
}
.tab button.active
{
    background-color: #26c421;
}
.errorM
{
	width: 30%;
	border: 5px darkred;
}
#searchPanel
{
	width: 50%;
}
table
{
	border: 10px solid black;
	padding: 10px;
	height: auto;
	width: 96vw;
}
td, th
{
    border: 3px solid black;
}
img
{
	width: 100px;
	height: 100px;
}
#quantity
{
	width: 40%;
	padding: none;
	box-shadow: 3px 3px 3px green;
	border-width: 2px;
	border-radius: 4px;
}
.row
{
	display: auto
}
.column
{
	padding: 1%;
	float: left;
	text-align: center;
}
#headertable
{
    table-layout: fixed;
    width: 100%;
}
#headertable, #headerrow, #headercell
{
    border: 2px solid darkgrey;
}
#headercell
{
    background-color: lightgrey;
    height: 40px;
}
.navbar
{
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1;
    background-color: transparent;
    padding: none;
}
.navbar a
{
    float: center;
    display: block;
    text-decoration: none;
    font-family: verdana;
    padding-top: 10px;
    height: 30px;
}
html, body 
{
	margin:0;
	padding:0;
}
